<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <p class="clearfix">
    <button class="btn btn-danger pull-left" ng-click="deleteSelected()">Delete selected products</button>
    <button class="btn btn-success pull-right" ng-click="addProduct()">Add product</button>
  </p>

  <table class="table table-responsive">
    <tr>
      <th>
        <input type="checkbox" ng-click="selectAll()" ng-model="isAllSelected"/>
      </th>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>More info</th>
      <th>Edit</th>
    </tr>

    <tr ng-repeat="product in filteredProducts">
      <td>
        <input type="checkbox" ng-model="product.checked"/>
      </td>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | price }}</td>
      <td>
        <button class="btn btn-default" popover="{{ product.description }}" popover-trigger="focus">
          More info
        </button>
      </td>
      <td>
        <button class="btn btn-default">Edit</button>
      </td>
    </tr>
  </table>

  <div class="row">

    <div class="col-xs-4" style="margin: 20px 0;">
      <div class="form-group">
        <label class="col-sm-5 control-label" for="productsPerPage" style="margin: 5px 0 0 0;">Products per page</label>
        <div class="col-sm-4">
          <select ng-model="itemsPerPage" id="productsPerPage" class="form-control">
            <option selected>10</option>
            <option>20</option>
            <option>50</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-xs-8 ">
      <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"
                  class=" pull-right"></pagination>
    </div>
  </div>

</div>
