<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <p><button class="btn btn-danger" ng-click="deleteSelected()">Delete selected products</button></p>

  <table class="table table-responsive">
    <tr>
      <th></th>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>More info</th>
      <th>Edit</th>
    </tr>

    <tr ng-repeat="product in filteredProducts ">
      <td>
        <input type="checkbox" ng-model="product.remove"/>
      </td>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | number:2 }}</td>
      <td>
        <button class="btn btn-default">More info</button>
      </td>
      <td>
        <button class="btn btn-default">Edit</button>
      </td>
      <span>{{ product.description }}</span>
    </tr>
  </table>

  <div class="row">
    <div class="col-sm-4" style="margin: 20px 0;">
      <div class="form-group">
        <label class="col-sm-5 control-label" for="productsPerPage" style="margin: 5px 0 0 0;">Products per page</label>
        <div class="col-sm-4">
          <select ng-model="itemsPerPage" id="productsPerPage" class="form-control">
            <option selected>10</option>
            <option>20</option>
            <option>50</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-8 ">
      <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"
                  ng-change="pageChanged()" class=" pull-right"></pagination>
    </div>
  </div>

</div>
